# Ignore intermediate object files
*.o
*.out

# Ignore hard disk image/floppy image
*.img

# Ignore kernel executable
os_kernel

# Ignore file produced by gdb
dump.bin

# Ignore bochs output
bochsout.txt
